<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.disaster">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dis_management"
        android:label="Disaster Recovery Plan for Small Businesses"
        android:roundIcon="@drawable/dis_management"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowSubmittedForm"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>